/* Primary */
$primary-100: #0d1337;
$primary-300: #320b93;
$primary-100: #4251fa;

/* Whites- Transparent */
$white-t100: rgba(255, 255, 255, 0.1);
$white-t200: rgba(255, 255, 255, 0.2);
$white-t300: rgba(255, 255, 255, 0.333);
$white-t500: rgba(255, 255, 255, 0.5);
$white-t800: rgba(255, 255, 255, 0.82);
$white-full: rgba(255, 255, 255, 1);

/* Grays - Opaque */
$gray-0: #000000;
$gray-100: #171717;
$gray-200: #333333;
$gray-600: #666666;
$gray-900: #e6e6e6;
$gray-950: #f8f8fd;

/* Grays - Transparent */
$gray-t100: rgba(0, 0, 0, 0.91);
$gray-t200: rgba(0, 0, 0, 0.8);
$gray-t600: rgba(0, 0, 0, 0.6);
$gray-t900: rgba(0, 0, 0, 0.1);
